main {
	display: grid;
	grid-template-columns: 100px 100px 100px;
	grid-gap: 3px;
}

app-square {
	border: 1px rgb(64, 6, 145) solid;
	height: 100px;
}

button {
	border: 1px rgb(64, 6, 145) solid;
	font-weight: bold;
}